@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb');
@import "tailwindcss";

@font-face {
  font-family: 'Berlin Sans';
  src: url('/fonts/berlinsans.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.geist {
  font-family: "Geist", sans-serif;
}

.berlin-sans {
  font-family: 'Berlin Sans', sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.fix {
  border: 1px solid red;
}

