@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb');
@import "tailwindcss";

.geist {
  font-family: "Geist", sans-serif;
}

.berlin-sans {
  font-family: "Berlin Sans FB", sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.gradient-background {
  background: linear-gradient(
    88.35deg,
    #989898 12.54%,
    #fefefe 50.14%,
    #989898 89.63%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typing-animation {
  overflow: hidden; /* Prevents text overflow */
  white-space: nowrap; /* Prevents text wrapping */
  display: inline-block;
  border-right: 3px solid #ffffff; /* Cursor effect */
  animation: typing 2s steps(30, end), blink 0.5s step-end 2s; /* Sync animations */
  animation-fill-mode: forwards; /* Ensures the animation end state is retained */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: transparent; /* Removes the border at the end of the animation */
  }
}

.fix {
  border: 1px solid red;
}

